<!DOCTYPE html>
<html lang="de">

  <head>
    <title>JW Dornach</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="<%= Routes.static_path(@conn, "/images/logo.png") %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>" />
    <link rel="icon" type="image/png" sizes="48x48" href="<%= Routes.static_path(@conn, "/images/favicon-48x48.png") %>" />
  </head>

  <body class="text-gray-900">
    <header class="bg-indigo-500">
      <div class="container px-6 py-12 mx-auto sm:px-2">
        <div>
          <a href="/" class="text-white">
            <h1 class="ml-1 text-4xl font-semibold tracking-tight">JW Dornach</h1>
          </a>

          <h2 class="text-white">Trolleydienst Einteilung</h2>
        </div>
      </div>
    </header>

    <div class="overflow-auto bg-gray-100">
      <main class="sm:my-6">
        <div class="container pb-2 mx-auto">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

      <section class="my-6">
        <div class="container p-4 mx-auto -my-2 sm:px-2">
          <h3 class="mb-1 text-xl text-gray-600">Anleitung</h3>
          <p>
            Um einen Termin einzutragen, wähle bitte zuerst einen Tag im
            Kalendar aus. Trage dann deinen Namen und den Namen deines Partners
            ein, und wähle die Uhrzeit aus von wann bis wann du den
            Trolleydienst geplant hast. Mit einem Klick auf <strong>Termin
              eintragen</strong> wird deine Eingabe dann gespeichert.
          </p>
        </div>
      </section>
    </div>

    <footer class="bg-white">
      <div class="container mx-auto overflow-hidden">
        <nav class="flex flex-wrap justify-center px-4 my-6 sm:px-2">
          <div class="px-4">
            <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
              Impressum
            </a>
          </div>
          <div class="px-4">
            <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
              Datenschutzerklärung
            </a>
          </div>
          <div class="px-4">
            <a href="https://github.com/ream88/jw-dornach" class="text-base leading-6 text-gray-500 hover:text-gray-900">
              Source Code
            </a>
          </div>
        </nav>
        <div class="p-4 my-4 sm:p-2">
          <p class="text-base leading-6 text-gray-500 sm:text-center ">
            JW Dornach ist eine private Plattform für die Planung
            des Trolleydienstes der Versammlung Linz-Dornach und in keiner Weise
            mit jw.org verbunden.
          </p>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
