<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>JW Dornach</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <header class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <a href="/">
            <h1 class="title">
              JW Dornach
            </h1>
            <h2 class="subtitle">
              Trolleydienst Einteilung
            </h2>
          </a>
        </div>
      </div>
    </header>

    <main class="section calendar">
      <div class="container box">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <section class="section">
      <div class="container">
        <div class="content">
          <h2 class="title">Anleitung</h2>
          <p>Um einen Termin zu reservieren, bitte klicke +-Button an dem entsprechenden Tag.</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered is-small">
        <p>
          <strong>JW Dornach</strong> ist eine private Plattform für die Planung des Trolleydienstes der Versammlung Linz-Dornach und in keiner Weise mit jw.org verbunden.
        </p>
      </div>
      <nav class="breadcrumb is-centered is-small has-bullet-separator">
        <ul>
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutzerklärung</a></li>
        </ul>
      </nav>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
