$primary: #4c9ba6;
$info: #4c6ea5;
$danger: #d63420;

@import "bulma";

.hero-body {
  // https://www.gradientmagic.com/collection/fracture/gradient/1571441590364
  background-image: linear-gradient(
      149deg,
      rgba(85, 85, 85, 0.05) 0%,
      rgba(85, 85, 85, 0.05) 25%,
      rgba(11, 11, 11, 0.05) 25%,
      rgba(11, 11, 11, 0.05) 50%,
      rgba(182, 182, 182, 0.05) 50%,
      rgba(182, 182, 182, 0.05) 75%,
      rgba(28, 28, 28, 0.05) 75%,
      rgba(28, 28, 28, 0.05) 100%
    ),
    linear-gradient(
      232deg,
      rgba(145, 145, 145, 0.05) 0%,
      rgba(145, 145, 145, 0.05) 25%,
      rgba(165, 165, 165, 0.05) 25%,
      rgba(165, 165, 165, 0.05) 50%,
      rgba(84, 84, 84, 0.05) 50%,
      rgba(84, 84, 84, 0.05) 75%,
      rgba(131, 131, 131, 0.05) 75%,
      rgba(131, 131, 131, 0.05) 100%
    ),
    linear-gradient(
      321deg,
      rgba(254, 254, 254, 0.05) 0%,
      rgba(254, 254, 254, 0.05) 25%,
      rgba(249, 249, 249, 0.05) 25%,
      rgba(249, 249, 249, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 75%,
      rgba(104, 104, 104, 0.05) 75%,
      rgba(104, 104, 104, 0.05) 100%
    ),
    linear-gradient(90deg, $info, #574ca6);
}

.box.calendar {
  padding: 0;

  @include tablet {
    padding: 1.25rem;
  }
}

.section.calendar {
  padding: 3rem 0;

  @include tablet {
    padding: 3rem 1.5rem;
  }
}

.columns.calendar {
  margin-left: 0;
  margin-right: 0;

  @include tablet {
    margin-left: (-$column-gap);
    margin-right: (-$column-gap);
  }
}

.column.calendar {
  padding: 0;

  @include tablet {
    padding: $column-gap;
  }
}

table.calendar {
  & td {
    width: (100% / 7);
  }

  & td .button {
    padding-left: $button-padding-horizontal / 2;
    padding-right: $button-padding-horizontal / 2;

    @include tablet {
      padding-left: $button-padding-horizontal;
      padding-right: $button-padding-horizontal;
    }
  }

  & .has-border {
    border-color: $danger;
    box-shadow: inset 0 0 0 2px $danger;

    &:hover {
      border-color: $danger;
    }
  }
}

.columns.has-bottom-border {
  margin-bottom: 1rem;
  border-bottom: $table-cell-border;
}
